h1{
    font-family:cursive;
    color: aqua;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:pink;
    background-image: url(imagess.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
#drawingCanvas {
    border: 2px solid black;
    margin-top: 20px;
    cursor: crosshair;
    background-color: white;
}
.box{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color:white;
    color: black;
    border:2px solid black;
    border-radius: 50px;
    outline: none;
}